In [ ]:
#Case Study-Titan Insurance Company-

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro,wilcoxon
from statsmodels.stats.power import ttest_power

In [5]:
sales_df = pd.read_csv('sales_people.csv',delimiter=',')
#sales_df.head()
df = pd.DataFrame(pd.read_csv('sales_people.csv'))
df

    sales_person  old_scheme  new_scheme
0              1          57          62
1              2         103         122
2              3          59          54
3              4          75          82
4              5          84          84
5              6          73          86
6              7          35          32
7              8         110         104
8              9          44          38
9             10          82         107
10            11          67          84
11            12          64          85
12            13          78          99
13            14          53          39
14            15          41          34
15            16          39          58
16            17          80          73
17            18          87          53
18            19          73          66
19            20          65          78
20            21          28          41
21            22          62          71
22            23          49          38
23            24          84          95
24            25          63          81
25            26          77          58
26            27          67          75
27            28         101          94
28            29          91         100
29            30          50          68

In [24]:
# What conclusion does the test (p-value) lead to? (2.5 points)
# Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000 in the scheme compared to the old scheme. 
# If this figure is alternative hypothesis, what is:
# The probability of a type 1 error? (2.5 points)
# What is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)
# Power of the test (5 points)
# two-sample t-test
# null hypothesis: the new scheme has significant outputs on sales
# this test assumes the two groups have the same variance...

In [13]:
# Find the mean of old scheme and new scheme column. (5 points)

# mean of the old_scheme and new_scheme column
old_scheme_mean = df.loc[:,"old_scheme"].mean()
new_scheme_mean = df.loc[:,"new_scheme"].mean()

old_scheme = np.array(sales_df[['old_scheme']])
new_scheme =np.array( sales_df[['new_scheme']])
print(old_scheme_mean)
print(new_scheme_mean)

68.03333333333333
72.03333333333333

In [14]:
# Use the five percent significance test over the data to determine the p value to check new scheme 
# has significantly raised outputs? (10 points)

t_statistic, p_value = ttest_ind(old_scheme, new_scheme)
print(t_statistic, p_value)

[-0.69370676] [0.49063516]

In [16]:
t_statistic, p_value = ttest_1samp(new_scheme - old_scheme, 0)
print(t_statistic, p_value)

[1.55591438] [0.13057554]

In [34]:
# p_value > 0.05 => null hypothesis is accepted:
# they have the significant output on the sales at the 5% significance level

In [32]:
# What conclusion does the test (p-value) lead to?
# p < 0.05 => alternative hypothesis:
# the difference in mean is not equal to 0
print ("p-value=", p_value)
if(p_value>0.05):
    print("null hypothesis is accepted")

p-value= 0.06116952762758769
null hypothesis is accepted

In [20]:
old_scheme = np.array(sales_df[['old_scheme']])
new_scheme = np.array(sales_df[['new_scheme']])
print(old_scheme)

[[ 57]
 [103]
 [ 59]
 [ 75]
 [ 84]
 [ 73]
 [ 35]
 [110]
 [ 44]
 [ 82]
 [ 67]
 [ 64]
 [ 78]
 [ 53]
 [ 41]
 [ 39]
 [ 80]
 [ 87]
 [ 73]
 [ 65]
 [ 28]
 [ 62]
 [ 49]
 [ 84]
 [ 63]
 [ 77]
 [ 67]
 [101]
 [ 91]
 [ 50]]

In [21]:
old_scheme.ndim

2

In [22]:
print(old_scheme.flatten())
old_scheme=old_scheme.flatten()
new_scheme=new_scheme.flatten()
print(new_scheme.flatten())

[ 57 103  59  75  84  73  35 110  44  82  67  64  78  53  41  39  80  87
  73  65  28  62  49  84  63  77  67 101  91  50]
[ 62 122  54  82  84  86  32 104  38 107  84  85  99  39  34  58  73  53
  66  78  41  71  38  95  81  58  75  94 100  68]

In [24]:
# alternative to paired t-test when data has an ordinary scale or when not
# normally distributed
z_statistic, p_value = wilcoxon(new_scheme - old_scheme)

print ("p-value=", p_value)

p-value= 0.06116952762758769

In [26]:
# this test assumes the two groups have the same variance...
# For checking equality of variance between groups
levene(old_scheme,new_scheme)

LeveneResult(statistic=1.063061539437244, pvalue=0.30679836081811235)

In [27]:
# For checking Normality distribution of each distribution
shapiro(new_scheme)

(0.9687567353248596, 0.5057420134544373)

In [28]:
# Calculating Power of Test
# Compute the difference in Means between 2 sample means and divide by pooled Standard Deviation 
# number of Observations/tuples
# Set the alpha value to 0.05 and alternative values 'two-sided' , 'larger' , 'smaller'
test = (np.mean(old_scheme) - np.mean(new_scheme)) / np.sqrt(((11-1)*np.var(old_scheme)+(11-1)*np.var(new_scheme)) / 11+11-2)
test

-0.13441726595582315

In [29]:
print(ttest_power(0.87, nobs=11, alpha=0.05, alternative='two-sided'))

0.7392948947066131

In [30]:
# Caculating power of test for the energ dataset

(np.mean(old_scheme) - np.mean(new_scheme)) / np.sqrt(((9-1)*np.var(old_scheme)+(13-1)*np.var(new_scheme)) / 9+13-2)

-0.11969291612453788